

<div class="wrapper">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button ng-click="createProfile(facebookShit)" ui-sref="changePW">Create an account with your Facebook profile!</button>
            </div>

            <div class="col-md-6">
                <img src="/img/keyhole.png">
            </div>
        </div>
    </div>



</div>

<footer>
    <div class="container text-center">
        <p>Copyright © GamerLife 2016</p>
    </div>
</footer>